.search-form {

    background-color: blue;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

input {

    border: 2px solid rgb(43, 41, 151);
    border-radius: 5px;
}

img {
    display: block;
    width: 100%;
    height: 200px;
}

.gallery {
    position: absolute;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    padding-top: 30px;
}

.photo-card {
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);

    &:nth-of-type(4n) {
        margin-right: 0;
    }
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0;
}

.info-item {
    display: block;
    text-align: center;
}

.span-item {
    display: block;
    text-align: center;
}